@page
@model WebApp.Pages.EnterQuestionAmountPage


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4 text-dark">Create a questionnaire</h1>
                    <form method="get" asp-page="/CreateQuestionnaire">
                        <div class="mb-3">
                            <label asp-for="QuestionnaireName" class="form-label text-secondary">Name your questionnaire:</label>
                            <input asp-for="QuestionnaireName" type="text" class="form-control bg-white text-dark">
                        </div>
                        <div class="mb-3">
                            <label asp-for="MultipleChoiceCount" class="form-label text-secondary">How many multiple choice questions would you like for your questionnaire?</label>
                            <input asp-for="MultipleChoiceCount" type="number" class="form-control bg-white text-dark" min="0">
                        </div>
                        <div class="mb-3">
                            <label asp-for="PollCount" class="form-label text-secondary">How many poll questions would you like for your questionnaire?</label>
                            <input asp-for="PollCount" type="number" class="form-control bg-white text-dark" min="0">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-dark">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>