@page
@model WebApp.Pages.NameQuestionnaire

<div class="container-fluid">
    <FORM method="post">
        <p>name your questionaire:</p>
        <input type="text" class="form-control"/>
        <button class="btn btn-primary">Next</button>
    </form>
</div>
